<nav>
  <h2 class="title">
    <a href="/">
      <span class="borded">Book</span>Store
    </a>
  </h2>
</nav>

<div class="bookstore {{if blur 'blur-background'}}">
  {{outlet}}
</div>

<footer>
  <span>@monteirobrena</span>
  <span>Made with Rails, Ember and fun.</span>
</footer>