<div class="author">
  <h3>{{model.name}}</h3>
  <strong>Biography</strong>: <span class="bio">{{model.bio}}</span>
  <h4>Published titles:</h4>
  <ul>
    {{#each model.books as |book|}}
      {{book-cover book=book blurBackground=(route-action "blurBackground")}}
    {{/each}}
  </ul>
</div>
<div class="buttons">
  <button {{action 'back'}}>
    Back to books
  </button>
</div>